
<div id="cv">

  <div class="container my-4 shadow">

    <app-cv-header
      [photo]="cv.userPicture"
      [personalInformation]="cv.profile.personalInformation"
    ></app-cv-header>

    @for(section of sections; track section){
      <app-cv-section class="row px-4"
                      [section]="section">
      </app-cv-section>
    }

    @for(customSection of cv?.profile?.customSections; track customSection){
      <section class="row px-4">
        <div class="sectionTitle col-md-3">
          <h1>{{ customSection.title }}</h1>
        </div>
        <div class="sectionContent col-md-9">
          @for(record of customSection.records; track record){
            <article>
              <div class="subDesc mt-2" [innerHTML]="record.content"></div>
            </article>
          }
        </div>
      </section>
    }

    <section class="row px-4 pb-5">
      <div class="sectionTitle col-md-3">
        <h1>{{ 'certifications' | translate }}</h1>
      </div>
      <div class="sectionContent col-md-9 row">
        @for(badge of badges; track badge){
          <app-cv-badge class="col px-4 mb-5" [badge]="badge"></app-cv-badge>
        }
      </div>
    </section>


    <section class="row px-4 pb-5">
      <div class="sectionTitle col-md-3">
        <h1>{{ 'languageSkills' | translate }}</h1>
      </div>
      <div class="sectionContent col-md-9 row">
        @for(lang of cv.profile.languageSkills.otherLanguages; track lang){
          <article [class]="'col-'+12/cv.profile.languageSkills.otherLanguages.length">
            <h2>{{ 'LANG.' + lang.language | translate }}</h2>
            <div>{{ 'LANG.listening' | translate }}: {{ lang.listening }}</div>
            <div>{{ 'LANG.reading' | translate }}: {{ lang.reading }}</div>
            <div>{{ 'LANG.writing' | translate }}: {{ lang.writing }}</div>
            <div>{{ 'LANG.spokenInteraction' | translate }}: {{ lang.spokenInteraction }}</div>
            <!--
            <div>{{ 'LANG.spokenProduction' | translate }}: {{ lang.spokenProduction }}</div>
            -->
          </article>
        }
      </div>
    </section>


  </div>

</div>

<!--
<div class="btn btn-primary no-print" (click)="print()">
  <i-feather name="printer"></i-feather>
  <div>{{ 'nav.print' | translate }}</div>
</div>
-->
